In [1]:
import cutlet
katsu = cutlet.Cutlet()

In [2]:
import pandas as pd

In [ ]:
ja_txt = "水をマレーシアから買わなくてはならないのです。"
katsu.romaji(ja_txt)

In [ ]:
# don't use english spelling
katsu.use_foreign_spelling = False
katsu.romaji(ja_txt)

In [ ]:
#different Japanese dialects available too.
# kunreisiki, nihonsiki work too
katu = cutlet.Cutlet('kunrei')
katu.romaji(ja_txt)

TRANSLIETRATION (Japanese to English)

In [26]:
#go over the metadata file
#Use cutlet to transcribe 2nd column. Then delete it.

rows = [] #list of lists. 

metadata_file = "/home/nidhi/Documents/animedub/audio/data/jsss_ver1/short-form/basic5000/metadata.txt"
with open(metadata_file, "r", encoding="utf-8") as ttf:
        for line in ttf:
            cols = line.split("\t")
            cols.append(katsu.romaji(cols[-1]))
            del cols[1]

            rows.append(cols)

In [27]:
# change list to df.
df = pd.DataFrame(rows, columns = ["filename","transcript"])
df.head()

         filename                                         transcript
0  BASIC5000_0001  Mizu wo Malaysia kara kawanakute wa naranai no...
1  BASIC5000_0002  Mokuyou hi teisen kaidan wa, nan no shinten mo...
2  BASIC5000_0003  Jouin giin wa, watakushi ga data wo yugameta t...
3  BASIC5000_0004      1 shuukan shite sono news wa hontou ni natta.
4  BASIC5000_0005  Ketsuatsu wa kenkou no Paro meter to shite juu...

In [29]:
df.to_csv("/home/nidhi/Documents/animedub/audio/data/jsss_ver1/short-form/basic5000/cutlet_metadata.csv", index = False, sep='\t')

TRANSLITERATION without the use of foreign words.

In [3]:
#go over the metadata file
#Use cutlet to transcribe 2nd column. Then delete it.

katsu_2 = cutlet.Cutlet()
katsu_2.use_foreign_spelling = False
rows = [] #list of lists. 

metadata_file = "/home/nidhi/Documents/animedub/audio/data/jsss_ver1/short-form/basic5000/metadata.txt"
with open(metadata_file, "r", encoding="utf-8") as ttf:
        for line in ttf:
            cols = line.split("\t")
            cols.append(katsu_2.romaji(cols[-1]))
            del cols[1]

            rows.append(cols)

In [7]:
# change list to df.
df2 = pd.DataFrame(rows, columns = ["filename","transcript"])
df2.head()

         filename                                         transcript
0  BASIC5000_0001  Mizu wo Mareeshia kara kawanakute wa naranai n...
1  BASIC5000_0002  Mokuyou hi teisen kaidan wa, nan no shinten mo...
2  BASIC5000_0003  Jouin giin wa, watakushi ga deeta wo yugameta ...
3  BASIC5000_0004    1 shuukan shite sono nyuusu wa hontou ni natta.
4  BASIC5000_0005  Ketsuatsu wa kenkou no Paro meetaa to shite ju...

In [6]:
df2.to_csv("/home/nidhi/Documents/animedub/audio/data/jsss_ver1/short-form/basic5000/cutlet_metadata_no_eng_words.csv", index = False, sep='\t')